fastapi
uvicorn
python-dotenv
groq
langchain
langchain-groq
python-docx
pdfplumber
python-multipart
langchain_core
psycopg2-binary
sqlalchemy
langchain-community
faiss-cpu
pandas
sentence-transformers
openpyxl
langchain-huggingface